@charset "UTF-8";
body {
  display: block;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

header {
  width: 100%;
  top: 0;
  position: fixed;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.header-top {
  width: 100%;
  height: 40px;
  background-color: rgb(247, 210, 238);
  margin-top: 0;
  padding-top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(255, 255, 255);
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1453px) {
  .containders {
    justify-content: center;
    padding: 0;
  }
}
.containders .navigation .menu {
  display: flex;
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  color: rgb(3, 29, 29);
  align-items: center;
  padding-left: 0px;
}
.containders .navigation .menu li {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  align-items: center;
  transition: transform 0.2s;
}
.containders .navigation .menu li:hover {
  opacity: 0.7;
  color: white;
  background-color: rgb(247, 210, 238);
  transform: scale(1.2);
}
.containders .navigation .menu li:hover a {
  color: white;
}
.containders .navigation .menu li a {
  text-decoration: none;
}
@media (max-width: 1364px) {
  .containders .navigation .menu li {
    padding: auto;
    margin: auto;
  }
}
@media (max-width: 480px) {
  .containders .navigation .menu li {
    padding: 3px;
    margin: 3px;
    font-size: 4vw;
  }
}
.containders .search {
  margin: 15px;
}
.containders .search .search-form .input-container {
  position: relative;
}
.containders .search .search-form .input-container .input-search {
  border-radius: 100px;
  width: 15rem;
  height: 45px;
  border: 1px solid #d0d0d0;
  padding-left: 1em;
}
.containders .search .search-form .input-container .fa-magnifying-glass {
  position: absolute;
  left: 14em;
  z-index: 1;
  top: 15px;
  transition: transform 0.2s;
}
.containders .search .search-form .input-container .fa-magnifying-glass:hover {
  transform: scale(1.2);
}

.dg-container {
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15em;
  margin-bottom: 10em;
  gap: 10em;
}
.dg-container .dolce-gabbana {
  width: 30%;
  transition: 0.5s;
}
.dg-container .dolce-gabbana img {
  height: 500px;
}
.dg-container .dolce-gabbana:hover {
  transform: scale(1.2);
}
.dg-container .dolce-gabbana-decription {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: end;
  font-family: arial;
}
.dg-container .dolce-gabbana-decription p {
  font-size: 18px;
}
.dg-container .dolce-gabbana-decription button {
  width: 70px;
  background-color: black;
  color: white;
  border-radius: 15px;
  height: 25px;
}
.dg-container .dolce-gabbana-decription button:hover {
  opacity: 0.7;
}

footer {
  background-color: rgb(247, 210, 238);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
@media (max-width: 800px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer-container .footer-elegant-aura {
  display: flex;
  padding: 0px;
  font-size: 20px;
}
@media (max-width: 800px) {
  .footer-container .footer-elegant-aura {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.footer-container .footer-elegant-aura ul {
  list-style: none;
  margin-top: 3rem;
  padding-left: 0px;
}
.footer-container .footer-elegant-aura li {
  font-size: 16px;
  margin-top: 5px;
}
.footer-container .footer-elegant-aura li a {
  text-decoration: none;
  color: black;
}
.footer-container .footer-elegant-aura li a:hover {
  text-decoration: underline;
}
.footer-container .footer-kundservice {
  font-size: 20px;
}
@media (max-width: 800px) {
  .footer-container .footer-kundservice {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.footer-container .footer-kundservice ul {
  list-style: none;
  margin-top: 3rem;
  padding-left: 0px;
}
.footer-container .footer-kundservice ul li {
  font-size: 16px;
  margin-top: 5px;
}
.footer-container .footer-kundservice ul li a {
  text-decoration: none;
  color: black;
}
.footer-container .footer-kundservice ul li a:hover {
  text-decoration: underline;
}
.footer-container .footer-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 800px) {
  .footer-container .footer-media {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.footer-container .footer-media .följ-oss {
  font-size: 20px;
  margin-top: 3rem;
}
.footer-container .footer-media .media {
  display: flex;
  font-size: 1.5em;
  margin: 10px;
  gap: 10px;
}
.footer-container .footer-media .media a {
  color: black;
}
.footer-container .footer-media .media a:hover {
  opacity: 0.7;
}

.footer-kontakt {
  margin-top: 3rem;
}
.footer-kontakt-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 800px) {
  .footer-kontakt-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer-kontakt-container .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0px;
  padding-right: 1rem;
  gap: 1rem;
  border-right: 1px solid black;
}
@media (max-width: 800px) {
  .footer-kontakt-container .contact {
    border: 0px;
  }
}
.footer-kontakt-container .contact p {
  margin: 0px;
}
.footer-kontakt-container .contact p a {
  margin-bottom: 0px;
  color: black;
  text-decoration: none;
}
.footer-kontakt-container .contact p a:hover {
  text-decoration: underline;
  color: blue;
}
.footer-kontakt-container .bottom-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0px;
}
.footer-kontakt-container .bottom-contact span .far {
  font-weight: 350;
}/*# sourceMappingURL=dolce-gabbana.css.map */