@charset "UTF-8";
body {
  display: block;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.header-top {
  width: 100%;
  height: 40px;
  background-color: rgb(247, 210, 238);
  margin-top: 0;
  padding-top: 0;
}

.containders {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(255, 255, 255);
  align-items: center;
}
.containders .navigation .menu {
  display: flex;
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  color: rgb(3, 29, 29);
  align-items: center;
}
.containders .navigation .menu a {
  text-decoration: none;
}
.containders .navigation .menu a li {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  align-items: center;
}
.containders .search .search-form .input-container {
  position: relative;
}
.containders .search .search-form .input-container .input-search {
  border-radius: 100px;
  width: 20rem;
  height: 45px;
  border: 1px solid #d0d0d0;
  padding-left: 1em;
}
.containders .search .search-form .input-container .fa-magnifying-glass {
  position: absolute;
  left: 19em;
  z-index: 1;
  top: 15px;
}

.om-oss-title {
  text-align: center;
  margin-top: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.main-container {
  box-sizing: border-box;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 10em;
       column-gap: 10em;
  margin-top: 7em;
  justify-content: center;
  margin-bottom: 10em;
  border: 1px solid rgb(227, 227, 227);
  gap: 5em;
}
.main-container .om-oss {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(227, 227, 227);
  margin-bottom: 10em;
}
.main-container .om-oss .om-oss-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}
.main-container .om-oss .om-oss-text a {
  text-decoration: none;
  color: black;
}
.main-container .om-oss .om-oss-text a:hover {
  text-decoration: underline;
  color: blue;
}
.main-container .om-oss .skincare-img {
  width: 500px;
}
.main-container .om-oss .skincare-img img {
  width: 500px;
  height: 500px;
  border-radius: 20px;
}
.main-container .vd {
  display: flex;
  flex-direction: row-reverse;
  justify-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(227, 227, 227);
}
.main-container .vd .profil-img {
  width: 500px;
}
.main-container .vd .profil-img img {
  width: 500px;
  height: 500px;
  border-radius: 20px;
}
.main-container .vd .vd-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}
.main-container .vd .vd-text a {
  text-decoration: none;
  color: black;
}
.main-container .vd .vd-text a:hover {
  text-decoration: underline;
  color: blue;
}
.main-container .team {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-container .team .team-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}
.main-container .team .team-img {
  width: 500px;
}
.main-container .team .team-img img {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.kontakt-container {
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  margin-top: 10em;
  margin-bottom: 10em;
  flex-direction: column;
  align-items: center;
}
.kontakt-container .kontakta-oss-title {
  text-align: center;
  margin-bottom: 40px;
}
.kontakt-container .kontakt-form {
  width: 90%;
  max-width: 600px;
}
.kontakt-container .kontakt-form .input-group {
  margin-bottom: 30px;
}
.kontakt-container .kontakt-form .input-group input, .kontakt-container .kontakt-form .input-group textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 4px;
}
.kontakt-container .kontakt-form button {
  padding: 10px 0;
  outline: none;
  background-color: black;
  color: white;
  width: 100%;
  border-radius: 4px;
}
.kontakt-container .kontakt-form button:hover {
  opacity: 0.7;
}

footer {
  background-color: rgb(247, 210, 238);
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.footer-container .footer-elegant-aura {
  font-size: 20px;
}
.footer-container .footer-elegant-aura ul {
  list-style: none;
  margin-top: 3rem;
}
.footer-container .footer-elegant-aura ul a {
  text-decoration: none;
  color: black;
}
.footer-container .footer-elegant-aura ul a:hover {
  text-decoration: underline;
}
.footer-container .footer-elegant-aura ul a li {
  font-size: 16px;
  margin-top: 5px;
}
.footer-container .footer-kundservice {
  font-size: 20px;
}
.footer-container .footer-kundservice ul {
  list-style: none;
  margin-top: 3rem;
}
.footer-container .footer-kundservice ul a {
  text-decoration: none;
  color: black;
}
.footer-container .footer-kundservice ul a:hover {
  text-decoration: underline;
}
.footer-container .footer-kundservice ul a li {
  font-size: 16px;
  margin-top: 5px;
}
.footer-container .footer-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container .footer-media .följ-oss {
  font-size: 20px;
}
.footer-container .footer-media .media {
  display: flex;
  font-size: 1.5em;
  margin: 10px;
  gap: 10px;
}
.footer-container .footer-media .media a {
  color: black;
}
.footer-container .footer-media .media a:hover {
  opacity: 0.7;
}

.footer-kontakt-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer-kontakt-container .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  padding-right: 1rem;
  gap: 1rem;
  border-right: 2px solid black;
}
.footer-kontakt-container .contact p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.footer-kontakt-container .contact p a {
  margin-bottom: 0px;
  color: black;
  text-decoration: none;
}
.footer-kontakt-container .contact p a:hover {
  text-decoration: underline;
  color: blue;
}
.footer-kontakt-container .bottom-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer-kontakt-container .bottom-contact p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.footer-kontakt-container .bottom-contact span .far {
  font-weight: 400;
}/*# sourceMappingURL=om-oss.css.map */